# Deletes in Apache Iceberg

In [37]:
from pyspark.sql import SparkSession
import os

In [38]:
spark = (
    SparkSession.builder
    .appName("Iceberg REST via MinIO")
    .master("spark://spark:7077") 
    .getOrCreate()
)

In [30]:
spark.sql("""DELETE FROM ice.demo.customers WHERE name like '%ak%'""")

DataFrame[]

Next let's show the results

In [31]:
spark.sql("""SELECT *
FROM ice.demo.customers;""").show(truncate=False)

+---+--------------+--------------------------+-------+
|id |name          |email                     |country|
+---+--------------+--------------------------+-------+
|22 |Zoe King      |zoe.king@example.com      |US     |
|21 |Jack Wilson   |jack.wilson@example.com   |US     |
|15 |Isabella Rossi|isabella.rossi@example.com|US     |
|1  |Alice Smith   |alice@example.com         |US     |
|2  |Bob Johnson   |bob@example.com           |US     |
|12 |Lucas Martin  |lucas.martin@example.com  |US     |
|18 |Henry Scott   |henry.scott@example.com   |US     |
|16 |James Nguyen  |james.nguyen@example.com  |US     |
|5  |Maya Patel    |maya.patel@example.com    |US     |
|7  |Sofia Almeida |sofia.almeida@example.com |US     |
|19 |Aria Johnson  |aria.johnson@example.com  |US     |
|3  |Carol Adams   |carol@example.com         |US     |
|20 |Daniela Costa |daniela.costa@example.com |US     |
|4  |Diego Ramirez |diego.ramirez@example.com |US     |
|8  |Noah Williams |noah.williams@example.com |US     |
|9  |Ava Thompson  |ava.thompson@example.com  |US     |
|11 |Olivia Garcia |olivia.garcia@example.com |US     |
|13 |Emma Robinson |emma.robinson@example.com |US     |
|10 |Ethan Chen    |ethan.chen@example.com    |US     |
|6  |Liam O’Connor |liam.oconnor@example.com  |US     |
+---+--------------+--------------------------+-------+
only showing top 20 rows

Let's view the snapshots that have been committed up to this point and we will notice a `delete` operation as part of the snapshot history

In [32]:
spark.sql("""SELECT snapshot_id, committed_at, operation
FROM ice.demo.customers.snapshots
ORDER BY committed_at DESC
LIMIT 5;""").show(truncate=False)

+-------------------+-----------------------+---------+
|snapshot_id        |committed_at           |operation|
+-------------------+-----------------------+---------+
|6814943666969074901|2025-10-24 20:38:05.13 |delete   |
|6630636699744048187|2025-10-24 20:37:41.29 |overwrite|
|6759798167245958053|2025-10-24 20:36:58.629|append   |
|1779365055955471184|2025-10-24 20:36:46.314|append   |
+-------------------+-----------------------+---------+

Again, let's go back in time, and see if we can see Mila

In [49]:
spark.sql("""SELECT *
FROM ice.demo.customers
VERSION AS OF '6630636699744048187';""").show(truncate=False)

    id            name                       email country
0   22        Zoe King        zoe.king@example.com      US
1   21     Jack Wilson     jack.wilson@example.com      US
2   15  Isabella Rossi  isabella.rossi@example.com      US
3    1     Alice Smith           alice@example.com      US
4    2     Bob Johnson             bob@example.com      US
5   12    Lucas Martin    lucas.martin@example.com      US
6   18     Henry Scott     henry.scott@example.com      US
7   16    James Nguyen    james.nguyen@example.com      US
8    5      Maya Patel      maya.patel@example.com      US
9    7   Sofia Almeida   sofia.almeida@example.com      US
10  19    Aria Johnson    aria.johnson@example.com      US
11   3     Carol Adams           carol@example.com      US
12  20   Daniela Costa   daniela.costa@example.com      US
13   4   Diego Ramirez   diego.ramirez@example.com      US
14  17      Mila Novak      mila.novak@example.com      US
15   8   Noah Williams   noah.williams@example.com      US
16   9    Ava Thompson    ava.thompson@example.com      US
17  11   Olivia Garcia   olivia.garcia@example.com      US
18  13   Emma Robinson   emma.robinson@example.com      US
19  10      Ethan Chen      ethan.chen@example.com      US
20   6   Liam O’Connor    liam.oconnor@example.com      US
21  14    Benjamin Kim    benjamin.kim@example.com      US
22  23    Oliver Brown    oliver.brown@example.com      US

In [35]:
spark.stop()